<ion-tabs class="tabs-icon-top tabs-color-active-assertive">


  <ion-tab title="Feed" icon-off="ion-android-globe" icon-on="ion-android-globe" ui-sref="tab.feed">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Events" icon-off="ion-ios-location" icon-on="ion-ios-location" ui-sref="tab.events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Meet" icon-off="ion-bonfire" icon-on="ion-bonfire" ui-sref="tab.meet">
    <ion-nav-view name="tab-meet"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Follow" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ui-sref="tab.followers">
    <ion-nav-view name="tab-followers"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-off="ion-android-person" icon-on="ion-android-person" ui-sref="tab.timeline">
    <ion-nav-view name="tab-timeline"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

