<ion-view cache-view="false">
    <ion-nav-title> {{ topic }} </ion-nav-title>
    <ion-content>
        <ion-list>
        <!-- put the current topic into $scope so can access with scope.topic instead of hardcode -->

         <!--<ion-item ng-repeat="post in posts |filter:{topic: 'nightlife'}:true">&ndash;&gt;-->
            <ion-item ng-repeat="post in posts">
                <!--{{post.meta.text}}-->
                {{post.value.meta.text}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>