<ion-view cache-view="false">
    <ion-nav-title> {{ topic }}  </ion-nav-title>

    <ion-content>
        <header style="align-content: center">{{location}}</header>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-click="moreOptions(post.key, post.value.uid, post.value.meta.username)"  class="item item-avatar item-text-wrap" ng-repeat="post in posts | filter: topicMatcher($scope.topic) | orderBy: '-value.timestamp_create' track by $index"><!--| filter: { value: { location: $scope.location }}-->

                <!--<img ng-src="{{post.value.meta.thumbnail}}">-->
            <img ng-src="{{post.value.meta.thumbnail === '' && 'img/unknown.jpg' || post.value.meta.thumbnail}}">

                <!-- header -->
                <h2 class="timeline">

                    <span>@{{post.value.meta.username}}</span>
                    <span class="small">{{post.value.timestamp_create | date:'MMM-dd-yyyy  h:mm a'}} </span>
                    <span class="small">#{{post.value.meta.topic}}</span>
                </h2>

                <!-- body -->
                <span>{{post.value.meta.text}}</span>

                <!-- opt images -->
                <p ng-show="loadingPosts['image'][postObj.key] == false">
                    <post-images></post-images>
                </p>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
