<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Change password</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeChangePassword()"></button>
    </div>
  </ion-header-bar>

  <ion-content ng-switch="status.changePasswordMode">

    <!-- SITUATION 1: Lost Password -->
    <div ng-switch-when="lost">
      <div class="list">
        <label class="item item-input">
            <input type="email" ng-model="changePasswordData.userEmail" placeholder="Your current e-mail">
        </label>
        <label class="item">
          <button class="button button-block button-dark" ng-click="resetPassword()">Reset password</button>
        </label>
      </div>
    </div>

    <!-- SITUATION 2: Change password -->
    <div ng-switch-when="change">
      <div class="list">
        <label class="item item-input">
          <input type="password" ng-model="changePasswordData.oldPassword"  placeholder="Old password">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="changePasswordData.newPassword" placeholder="New password">
        </label>
        <label class="item">
          <button class="button button-block button-assertive" ng-click="doChangePassword()">Change password</button>
        </label>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
