<ion-nav-bar></ion-nav-bar>
<ion-view view-title="Feed">

<ion-side-menus>

  <ion-side-menu-content>

    <ion-nav-bar>
      <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button icon-left ion-ios-plus-empty" ng-click="newPost()"> Post</button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="Topic" animation="slide-left-right"></ion-nav-view>
     main feed

    <ion-content class="has-header" animation="slide-left-right">

      <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="doRefresh()">
      </ion-refresher>
          <header style="align-content: center">{{location}}</header>


          <ion-list>

            <ion-item ng-click="moreOptions(post.key, post.value.uid, post.value.meta.username)"  class="item item-avatar item-text-wrap" ng-repeat="post in posts | filter: { value: { location: $scope.location }}| orderBy: '-value.timestamp_create' track by $index"">

            <img ng-src="{{post.value.meta.thumbnail === '' && 'img/unknown.jpg' || post.value.meta.thumbnail}}">

              <!-- header -->
              <h2 class="timeline">
                <span>@{{post.value.meta.username}}</span>
                <span class="small">{{post.value.timestamp_create | date:'MMM-dd-yyyy  h:mm a'}} </span>
                <span class="small">#{{post.value.meta.topic}}</span>
              </h2>

        <!-- body -->
              <span>{{post.value.meta.text}}</span>

        <!-- opt images -->
              <p ng-show="loadingPosts['image'][postObj.key] == false">
                <post-images></post-images>
              </p>

            </ion-item>

          </ion-list>

      </ion-content>>
      </section>
    </ion-nav-view>
     /main-feed

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header">
      <h1 class="title">Topics</h1>
    </header>

    <ion-content scroll="true" class="has-header">
      <ion-list>
        <ion-item menu-close ng-repeat="topic in topics" ui-sref="tab.feed.Topic({topic:'{{topic.text}}'})">
          {{topic.text}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>


</ion-view>
