<ion-nav-bar></ion-nav-bar>
<ion-view view-title="Feed">

  <!--<ion-nav-buttons side="left">-->
    <!--&lt;!&ndash; Toggle left side menu &ndash;&gt;-->
    <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->

  <!--</ion-nav-buttons>-->

<ion-side-menus>

<!--<ion-nav-bar>-->
<!--<ion-nav-buttons side="left">-->
<!--&lt;!&ndash; Toggle left side menu &ndash;&gt;-->
<!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->

<!--</ion-nav-buttons>-->

<!--</ion-nav-bar>-->
 <!--Left menu-->


  <ion-side-menu-content>
    <ion-nav-bar>
      <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button icon-left ion-ios-plus-empty" ng-click="newPost()"> Post</button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="Topic" animation="slide-left-right"></ion-nav-view>

  </ion-side-menu-content>


  <ion-side-menu side="left">
    <header class="bar bar-header">
      <h1 class="title">Topics</h1>
    </header>

    <ion-content scroll="true" class="has-header">
      <ion-list>
        <ion-item menu-close ng-repeat="topic in topics" ui-sref="tab.feed.Topic({topic:'{{topic.text}}'})">
          {{topic.text}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>


</ion-view>
