.pane{
    background-color:#f3f3f3;
}

td-cards {
    display: block;
}

td-card {
    position: absolute;
    left: 50%;
    margin: 80px 0 40px -150px;
    width: 300px;
    height: 300px;
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(255,255,255);
    color: #fff;
    padding: 0 20px;
}

td-card .image {
    top: 20px;
    width: 100%;
}

td-card img {
    margin-top: 20px;
    height: 258px;
    width: 100%;
}

td-card .buttondesc{
    position: absolute;
    bottom: -120px;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: #f3f3f3;
    padding: 10px;
}
td-card .buttondesc button{
    margin: 0 10px;
}

/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.username{
    margin:5px;
    font-size: medium;
    font-weight: bold;
}


.scroll {
    height: 100%;
}

button.ion-thumbsup{
    font-size: 5px;

}
